
# directories (by name)

include/b64/
include/shwild/
include/xcontract/
include/xcover/
include/xtests/

src/b64/
src/shwild/
src/xcontract/
src/xcover/
src/xtests/

vc71/
vc8/
vc9/

bin/

lib/

ideas/

bin/

lib/

ideas/

Debug/
Debug Multithreaded/
Debug Multithreaded DLL/
Unicode Debug/
Unicode Debug Multithreaded/
Unicode Debug Multithreaded DLL/
Release/
Release Multithreaded/
Release Multithreaded DLL/
Unicode Release/
Unicode Release Multithreaded/
Unicode Release Multithreaded DLL/

# directories (by pattern)

# files (by name)

bzr-branching-notes.txt
handler-design-notes.txt

.bzrignore
.update_deps
list_changes.cmd
prepare.cmd
update

build/makefile.tmpl
build/makefile.tools.xml

include/fastformat/internal/dos2unix.has.been.performed

test/tests-plan.txt

# files (by pattern)

*~
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.ilk
*.lib
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.org
*.out
*.pch
*.pdb
*.sdf
*.sbr
*.scc
*.so
*.suo
*.swp
*.vcproj*.user
*.vcxproj*.user

*.vc71.sln
*.vc8.sln
*.vc9.sln

# CMake build directories (here alternatives cmake-build and build-cmake)
/cmake-build
/build-cmake

